<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CFM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <CFM.Properties.Settings>
            <setting name="CFM_Token" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InByYXZlZW4uZ3VwdGFAdGVzdGZtLmNvbSIsImNpZCI6IkZNRGV2IiwiZXhwIjoxNzM1NzMyODAwLCJpcCI6Ijo6MSJ9.3KED8oQ-DaJwCIOHoAKIImb1aUFRths7t5i-Gdvge34</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>c:\x\mylog.log</value>
            </setting>
            <setting name="GT_server" serializeAs="String">
                <value>pkg-cadapult</value>
            </setting>
            <setting name="GT_username" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="GT_password" serializeAs="String">
                <value>@Cadapult1</value>
            </setting>
            <setting name="GT_AuthType" serializeAs="String">
                <value>Digest</value>
            </setting>
            <setting name="CFM_EndPoint" serializeAs="String">
                <value>http://localhost/fmdevelopment/workplaceready/common/rmiservice.asp</value>
            </setting>
            <setting name="GT_BadgeField" serializeAs="String">
                <value>EmailAddress</value>
            </setting>
            <setting name="GT_BadgeFieldSource" serializeAs="String">
                <value>CardHolder</value>
            </setting>
            <setting name="CFM_AdminEndPoint" serializeAs="String">
                <value>http://localhost/fmdevelopment/workplaceready/common/adminrmi.asp</value>
            </setting>
        </CFM.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<add key="SdkLocation" value="C:\Program Files (x86)\Genetec Security Center 5.10 SDK\"/>
		<add key="EnableAssemblyLogger" value="True" />
	</appSettings>
</configuration>